.header-container {
    width: 100%;
    font-size: 20px;
    min-height: 6.5vh;
    background-color: var(--background);
}

.header-nav-container {
    min-height: 8vh;
    padding: 7px;
}

.nav-link {
    color: var(--text_light);

    &:hover {
        color: var(--highlight);
    }

    &:focus {
        color: var(--highlight);
    }
}

.active {
    color: var(--highlight);
}

.header-nav-items {
    margin-top: 50px;
}

.header-nav-mobile-button {
    position: absolute;
    right: 10px;
    top: 10px;

    color: var(--text) !important;
    border: 1px solid var(--text) !important;
    font-size: 28px;
    font-weight: normal;
}

.settings {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--background_light);
    color: var(--text_dark);
    border: none;

    &:active,
    &:focus,
    &:visited,
    &:hover {
        background-color: var(--background_light);
        color: var(--text_dark);
        border: none;
    }
}

@media (min-width: 992px) {
    .header-nav-items {
        margin-top: 0;
    }

    .settings {
        position: unset;
    }
}