.next-recipe-container {
    background-color: var(--background_container);
    padding: 15px;
    border-radius: 30px;
    color: var(--text_light);

    @media (min-width: 992px) {
        padding: 30px;
    }

    .action-buttons {
        width: 100%;
        text-align: center;
        position: sticky;
        bottom: 0;
        background-color: var(--background_container);
        padding: 5px 0;

        .library-button,
        .btn-warning {
            margin: 5px 10px;
        }
    }
}

.recipe-info-loading-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-info-container {
    margin-bottom: 15px;

    .header {
        width: 100%;
        text-align: center;
        padding-bottom: 20px;

        h1>small {
            font-size: 25px;
            font-weight: normal;
        }
    }

    .metadata {
        width: 100%;
        text-align: center;

        .badge {
            background-color: var(--background);
            color: var(--text_light);
            margin: 3px;
            font-weight: normal;
            font-size: 15px;
        }

        .tags-container>.badge {
            font-size: 13px !important;
        }
    }

    table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 60%;
        color: var(--text_dark);


        th,
        td {
            padding: 12px 15px;
        }

        tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        tbody tr td:first-child {
            text-align: right;
        }

        tbody tr:nth-of-type(even) {
            background-color: var(--text_light);
        }

        tbody tr:nth-of-type(odd) {
            background-color: var(--background_light);
        }
    }

    .row {
        padding-top: 15px;
    }

    h3>small {
        margin-left: 10px;
        font-size: 22px;
    }
}