:root {
  --background: var(--default_background);
  --background_light: var(--default_background_light);
  --background_container: var(--default_background_container);
  --highlight: var(--default_highlight);
  --text: var(--default_text);
  --text_light: var(--default_text_light);
  --text_dark: var(--default_text_dark);

  /* Default */
  --default_c1: #780000;
  --default_c2: #003049;
  --default_c3: #f5c400;
  --default_c4: #ebe6eb;
  --default_c5: #fffaff;

  --default_background: var(--default_c1);
  --default_background_light: var(--default_c4);
  --default_background_container: var(--default_c2);
  --default_highlight: var(--default_c3);
  --default_text: var(--default_c2);
  --default_text_light: var(--default_c5);
  --default_text_dark: var(--default_c1);

  /* Grey */
  --grey_c1: #293241;
  --grey_c2: #505868;
  --grey_c3: #f5c400;
  --grey_c4: #e6e6e6;
  --grey_c5: #ffffff;

  --grey_background: var(--grey_c1);
  --grey_background_light: var(--grey_c4);
  --grey_background_container: var(--grey_c2);
  --grey_highlight: var(--grey_c3);
  --grey_text: var(--grey_c2);
  --grey_text_light: var(--grey_c5);
  --grey_text_dark: var(--grey_c1);

  /* Saturated */
  --saturated_c1: #000000;
  --saturated_c2: #14213d;
  --saturated_c3: #fca311;
  --saturated_c4: #e5e5e5;
  --saturated_c5: #ffffff;

  --saturated_background: var(--saturated_c1);
  --saturated_background_light: var(--saturated_c4);
  --saturated_background_container: var(--saturated_c2);
  --saturated_highlight: var(--saturated_c3);
  --saturated_text: var(--saturated_c2);
  --saturated_text_light: var(--saturated_c5);
  --saturated_text_dark: var(--saturated_c1);
}
